.container {
	background-color: #FFFFE0;
	margin: 50px auto;
	width: 50%;
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}

h1 {
	margin-bottom: 30px;
}

label {
	display: inline-block;
	margin-bottom: 10px;
}

input {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
}

button {
	padding: 10px;
	background-color: #008CBA;
	color: #fff;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #0077B3;
}
